table {
  background-color: white !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  overflow: hidden !important;
  margin-bottom: 0;
}
thead {
  background: white !important;
}
thead th {
  font-weight: 800 !important;
  text-align: center;
}
.nav {
  margin-bottom: 1rem !important;
}
.footer-katari {
  display: none;
}

/* CALENDARIO STYLOS /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/--/--/-/-/-*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.fc,
.fc *,
.fc ::after,
.fc ::before {
  box-sizing: border-box;
}
.fc-header-toolbar {
  height: 2vh !important;
  /* border: 1px solid red; */
  font-size: 0.7vh;
}
.fc-button {
  padding: 0.4vh 0.4vh !important;
  font-size: 1.2vh;
}
.fc-toolbar-title {
  font-size: 1vh;
}
.fc-daygrid-day {
  height: auto;
}
.fc-daygrid-day-top {
  justify-content: center;
}
.calendario-container {
  height: 90.5vh;
  /* border: 1px solid blue; */
}
.fc-daygrid-day {
  height: 170px !important;
}
.fc-daygrid-event-harness > a > div {
  font-size: 18px !important;
}
/*PERSONALIZAND EL CALENDARIO*/
/* Agregar un contorno circular al día actual */
.fc-day-today .fc-daygrid-day-number {
  /* border: 2px solid #007bff; */
  border-radius: 50%; /* Hace que el contorno sea circular */
  padding: 2px 10px; /* Ajusta el espacio dentro del círculo */
  box-sizing: border-box;
  background-color: #000; /* Opcional: fondo para resaltar */
  color: #fff; /* Color del texto */
  font-weight: bold; /* Destaca el número del día */
} /* Centrar el texto en el círculo */
.fc-daygrid-day-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fc-popover {
  display: none !important;
}
/*  PERSONALIZACION DE LAS CITAS END*/

/* CALENDARIO STYLOS /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/--/--/-/-/-/-/-*/

/* formulario del calendario para guardar cita -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.calendar-forms {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 30rem;
  background-color: rgb(210, 226, 243);
  border-radius: 15px;
  padding: 15px;
  /* border: 1px solid green; */
}
.cld__box {
  padding: 1rem;
  border: 0.1px solid var(--gris-pastel);
  border-radius: 15px;
}
.cld--title input {
  margin: 0 0 0 0;
  border: none;
  box-shadow: none !important;
  background-color: transparent;
  color: #000 !important;
}
.cld--title input:focus {
  margin: 0 0 0 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.cld--title input::placeholder {
  color: #000;
}
.cld__box--item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cld__box--item input {
  margin: 0 0 0 0;
  border: none;
  box-shadow: none !important;
}
.cld__box--item select {
  margin: 0 0 0 0;
  border: none;
  box-shadow: none !important;
}
.cld__box--item label {
  min-width: 5rem;
  max-width: 5rem;
}
@media screen and (max-width: 1600px) {
  .cld__box--item {
    flex-direction: column;
    gap: 10px;
  }
}
.cld__box--etiqueta {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
.cld__box--etiqueta select {
  margin: 0 0 0 0;
  border: none;
  box-shadow: none !important;
  color: #000 !important;
}
.cld__box--etiqueta i {
  margin-left: 0.5rem;
  font-size: 2rem;
}
.cld__box--mensaje textarea {
  width: 100%;
  height: 6rem;
  resize: none;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: none !important;
  color: #000 !important;
  margin: 0 0 0 0;
}
.cld__box--mensaje textarea:focus {
  margin: 0 0 0 0;
  border: none;
  box-shadow: none;
}
.rojo {
  color: var(--rojo-pastel);
}
.azul {
  color: var(--azul-pastel);
}
.verde {
  color: var(--verde);
}
/*SUGERENCIAS DE CLIENTE INPUT*/
.cliente-search {
  position: relative;
}
.cliente-search input {
  border: none;
  box-shadow: none !important;
}
.sugerencias {
  position: absolute;
  width: 94%;
  top: 79%;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 0 0 15px 15px;
  z-index: 1000;
}
.sugerencias li {
  padding: 5px;
  cursor: pointer;
}
.sugerencias li:hover {
  background: #f0f0f0;
}

/* MOSTRAR INFO CITA*/
.info-citas {
  background-color: #f9f9f9;
  display: none;
  border-radius: 15px;
  position: fixed;
  max-width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
#cita-title {
  font-weight: 700;
}
.info--date i {
  font-size: 3.5rem;
}
.green {
  color: green;
}

/* modal todas las citas */
.modal-citas {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  padding: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  z-index: 1000;
}
.modal-title{
  text-align: center;
  border-bottom: 2px solid #ccc;
}
.box-citas{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box--cita{
  border-left: 5px solid #090;
  padding: 0 1rem;
  margin: 7px 0;
  cursor: pointer;
}
.box--cita--title{
  font-weight: bold;
  letter-spacing: 1px;
}
