/* .grid-container{

} */
.pagos--titulos{
    cursor: pointer;
}
table{
    margin: 0;
    box-shadow: none !important;
    border-radius: 0 !important;
}
input{
    border-radius: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    color: black;
    margin-bottom: 0 !important;
}
select{
    border-radius: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    color: black;
    margin-bottom: 0 !important;
}
input:disabled{
    border: none;
    margin-bottom: 0 !important;
}

.cancelado {
    color: var(--azul);
    font-weight: bold;
}